<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CeshiMapper">
    
    <resultMap type="Ceshi" id="CeshiResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="wenjiandizhi"    column="wenjiandizhi"    />
        <result property="tupiandizhi"    column="tupiandizhi"    />
        <result property="bak"    column="bak"    />
    </resultMap>

    <sql id="selectCeshiVo">
        select id, name, wenjiandizhi, tupiandizhi, bak from ceshi
    </sql>

    <select id="selectCeshiList" parameterType="Ceshi" resultMap="CeshiResult">
        <include refid="selectCeshiVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="wenjiandizhi != null  and wenjiandizhi != ''"> and wenjiandizhi = #{wenjiandizhi}</if>
            <if test="tupiandizhi != null  and tupiandizhi != ''"> and tupiandizhi = #{tupiandizhi}</if>
            <if test="bak != null  and bak != ''"> and bak = #{bak}</if>
        </where>
    </select>
    
    <select id="selectCeshiById" parameterType="Long" resultMap="CeshiResult">
        <include refid="selectCeshiVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCeshi" parameterType="Ceshi">
        insert into ceshi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="wenjiandizhi != null">wenjiandizhi,</if>
            <if test="tupiandizhi != null">tupiandizhi,</if>
            <if test="bak != null">bak,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="wenjiandizhi != null">#{wenjiandizhi},</if>
            <if test="tupiandizhi != null">#{tupiandizhi},</if>
            <if test="bak != null">#{bak},</if>
         </trim>
    </insert>

    <update id="updateCeshi" parameterType="Ceshi">
        update ceshi
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="wenjiandizhi != null">wenjiandizhi = #{wenjiandizhi},</if>
            <if test="tupiandizhi != null">tupiandizhi = #{tupiandizhi},</if>
            <if test="bak != null">bak = #{bak},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCeshiById" parameterType="Long">
        delete from ceshi where id = #{id}
    </delete>

    <delete id="deleteCeshiByIds" parameterType="String">
        delete from ceshi where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>