<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HdzdbjMapper">
    
    <resultMap type="Hdzdbj" id="HdzdbjResult">
        <result property="id"    column="id"    />
        <result property="pinpai"    column="pinpai"    />
        <result property="zhongduanxinghao"    column="zhongduanxinghao"    />
        <result property="zhongduansn"    column="zhongduansn"    />
        <result property="zsdls"    column="zsdls"    />
        <result property="dls"    column="dls"    />
        <result property="dlsdh"    column="dlsdh"    />
        <result property="ydbm"    column="ydbm"    />
        <result property="shbm"    column="shbm"    />
        <result property="shmc"    column="shmc"    />
        <result property="ljjy"    column="ljjy"    />
        <result property="zdzt"    column="zdzt"    />
        <result property="jsmb"    column="jsmb"    />
        <result property="jjmb"    column="jjmb"    />
        <result property="yfwfhd"    column="yfwfhd"    />
        <result property="cysimhd"    column="cysimhd"    />
        <result property="jqlx"    column="jqlx"    />
        <result property="sjfl"    column="sjfl"    />
        <result property="simfwf"    column="simfwf"    />
        <result property="simkf"    column="simkf"    />
        <result property="simfxcs"    column="simfxcs"    />
        <result property="fwfdjhf"    column="fwfdjhf"    />
        <result property="djfx"    column="djfx"    />
        <result property="fwfkkzt"    column="fwfkkzt"    />
        <result property="yjhfx"    column="yjhfx"    />
        <result property="ydbfx"    column="ydbfx"    />
        <result property="simfx"    column="simfx"    />
        <result property="sbjysj"    column="sbjysj"    />
        <result property="bdsj"    column="bdsj"    />
        <result property="xcllfkfsj"    column="xcllfkfsj"    />
        <result property="jmfpsj"    column="jmfpsj"    />
        <result property="zhjysj"    column="zhjysj"    />
        <result property="cjsj"    column="cjsj"    />
        <result property="bak"    column="bak"    />
        <result property="status"    column="status"    />
        <result property="status1"    column="status1"    />
        <result property="bak1"    column="bak1"    />
        <result property="bak2"    column="bak2"    />
        <result property="bak3"    column="bak3"    />
        <result property="bak4"    column="bak4"    />
        <result property="fwfdjfx"    column="fwfdjfx"    />
        <result property="djfwf"    column="djfwf"    />
        <result property="rxxjxgfwf"    column="rxxjxgfwf"    />
        <result property="simkft"    column="simkft"    />
        <result property="simkfjg"    column="simkfjg"    />
        <result property="simyfxcs"    column="simyfxcs"    />
    </resultMap>

    <sql id="selectHdzdbjVo">
        select id, pinpai, zhongduanxinghao, zhongduansn, zsdls, dls, dlsdh, ydbm, shbm, shmc, ljjy, zdzt, jsmb, jjmb, yfwfhd, cysimhd, jqlx, sjfl, simfwf, simkf, simfxcs, fwfdjhf, djfx, fwfkkzt, yjhfx, ydbfx, simfx, sbjysj, bdsj, xcllfkfsj, jmfpsj, zhjysj, cjsj, bak, status, status1, bak1, bak2, bak3, bak4, fwfdjfx, djfwf, rxxjxgfwf, simkft, simkfjg, simyfxcs from hdzdbj
    </sql>

    <select id="selectHdzdbjList" parameterType="Hdzdbj" resultMap="HdzdbjResult">
        <include refid="selectHdzdbjVo"/>
        <where>  
            <if test="pinpai != null  and pinpai != ''"> and pinpai = #{pinpai}</if>
            <if test="zhongduanxinghao != null  and zhongduanxinghao != ''"> and zhongduanxinghao = #{zhongduanxinghao}</if>
            <if test="zhongduansn != null  and zhongduansn != ''"> and zhongduansn = #{zhongduansn}</if>
            <if test="zsdls != null  and zsdls != ''"> and zsdls = #{zsdls}</if>
            <if test="dls != null  and dls != ''"> and dls = #{dls}</if>
            <if test="dlsdh != null  and dlsdh != ''"> and dlsdh = #{dlsdh}</if>
            <if test="ydbm != null  and ydbm != ''"> and ydbm = #{ydbm}</if>
            <if test="shbm != null  and shbm != ''"> and shbm = #{shbm}</if>
            <if test="shmc != null  and shmc != ''"> and shmc = #{shmc}</if>
            <if test="ljjy != null "> and ljjy = #{ljjy}</if>
            <if test="zdzt != null  and zdzt != ''"> and zdzt = #{zdzt}</if>
            <if test="jsmb != null  and jsmb != ''"> and jsmb = #{jsmb}</if>
            <if test="jjmb != null  and jjmb != ''"> and jjmb = #{jjmb}</if>
            <if test="yfwfhd != null  and yfwfhd != ''"> and yfwfhd = #{yfwfhd}</if>
            <if test="cysimhd != null  and cysimhd != ''"> and cysimhd = #{cysimhd}</if>
            <if test="jqlx != null  and jqlx != ''"> and jqlx = #{jqlx}</if>
            <if test="sjfl != null  and sjfl != ''"> and sjfl = #{sjfl}</if>
            <if test="simfwf != null "> and simfwf = #{simfwf}</if>
            <if test="simkf != null  and simkf != ''"> and simkf = #{simkf}</if>
            <if test="simfxcs != null  and simfxcs != ''"> and simfxcs = #{simfxcs}</if>
            <if test="fwfdjhf != null  and fwfdjhf != ''"> and fwfdjhf = #{fwfdjhf}</if>
            <if test="djfx != null  and djfx != ''"> and djfx = #{djfx}</if>
            <if test="fwfkkzt != null  and fwfkkzt != ''"> and fwfkkzt = #{fwfkkzt}</if>
            <if test="yjhfx != null  and yjhfx != ''"> and yjhfx = #{yjhfx}</if>
            <if test="ydbfx != null  and ydbfx != ''"> and ydbfx = #{ydbfx}</if>
            <if test="simfx != null  and simfx != ''"> and simfx = #{simfx}</if>
            <if test="sbjysj != null "> and sbjysj = #{sbjysj}</if>
            <if test="bdsj != null "> and bdsj = #{bdsj}</if>
            <if test="xcllfkfsj != null "> and xcllfkfsj = #{xcllfkfsj}</if>
            <if test="jmfpsj != null "> and jmfpsj = #{jmfpsj}</if>
            <if test="zhjysj != null "> and zhjysj = #{zhjysj}</if>
            <if test="cjsj != null "> and cjsj = #{cjsj}</if>
            <if test="bak != null  and bak != ''"> and bak = #{bak}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="status1 != null  and status1 != ''"> and status1 = #{status1}</if>
            <if test="bak1 != null  and bak1 != ''"> and bak1 = #{bak1}</if>
            <if test="bak2 != null  and bak2 != ''"> and bak2 = #{bak2}</if>
            <if test="bak3 != null  and bak3 != ''"> and bak3 = #{bak3}</if>
            <if test="bak4 != null  and bak4 != ''"> and bak4 = #{bak4}</if>
            <if test="fwfdjfx != null  and fwfdjfx != ''"> and fwfdjfx = #{fwfdjfx}</if>
            <if test="djfwf != null  and djfwf != ''"> and djfwf = #{djfwf}</if>
            <if test="rxxjxgfwf != null  and rxxjxgfwf != ''"> and rxxjxgfwf = #{rxxjxgfwf}</if>
            <if test="simkft != null  and simkft != ''"> and simkft = #{simkft}</if>
            <if test="simkfjg != null  and simkfjg != ''"> and simkfjg = #{simkfjg}</if>
            <if test="simyfxcs != null  and simyfxcs != ''"> and simyfxcs = #{simyfxcs}</if>
        </where>
    </select>
    
    <select id="selectHdzdbjById" parameterType="Long" resultMap="HdzdbjResult">
        <include refid="selectHdzdbjVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHdzdbj" parameterType="Hdzdbj" useGeneratedKeys="true" keyProperty="id">
        insert into hdzdbj
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pinpai != null">pinpai,</if>
            <if test="zhongduanxinghao != null">zhongduanxinghao,</if>
            <if test="zhongduansn != null">zhongduansn,</if>
            <if test="zsdls != null">zsdls,</if>
            <if test="dls != null">dls,</if>
            <if test="dlsdh != null">dlsdh,</if>
            <if test="ydbm != null">ydbm,</if>
            <if test="shbm != null">shbm,</if>
            <if test="shmc != null">shmc,</if>
            <if test="ljjy != null">ljjy,</if>
            <if test="zdzt != null">zdzt,</if>
            <if test="jsmb != null">jsmb,</if>
            <if test="jjmb != null">jjmb,</if>
            <if test="yfwfhd != null">yfwfhd,</if>
            <if test="cysimhd != null">cysimhd,</if>
            <if test="jqlx != null">jqlx,</if>
            <if test="sjfl != null">sjfl,</if>
            <if test="simfwf != null">simfwf,</if>
            <if test="simkf != null">simkf,</if>
            <if test="simfxcs != null">simfxcs,</if>
            <if test="fwfdjhf != null">fwfdjhf,</if>
            <if test="djfx != null">djfx,</if>
            <if test="fwfkkzt != null">fwfkkzt,</if>
            <if test="yjhfx != null">yjhfx,</if>
            <if test="ydbfx != null">ydbfx,</if>
            <if test="simfx != null">simfx,</if>
            <if test="sbjysj != null">sbjysj,</if>
            <if test="bdsj != null">bdsj,</if>
            <if test="xcllfkfsj != null">xcllfkfsj,</if>
            <if test="jmfpsj != null">jmfpsj,</if>
            <if test="zhjysj != null">zhjysj,</if>
            <if test="cjsj != null">cjsj,</if>
            <if test="bak != null">bak,</if>
            <if test="status != null">status,</if>
            <if test="status1 != null">status1,</if>
            <if test="bak1 != null">bak1,</if>
            <if test="bak2 != null">bak2,</if>
            <if test="bak3 != null">bak3,</if>
            <if test="bak4 != null">bak4,</if>
            <if test="fwfdjfx != null">fwfdjfx,</if>
            <if test="djfwf != null">djfwf,</if>
            <if test="rxxjxgfwf != null">rxxjxgfwf,</if>
            <if test="simkft != null">simkft,</if>
            <if test="simkfjg != null">simkfjg,</if>
            <if test="simyfxcs != null">simyfxcs,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pinpai != null">#{pinpai},</if>
            <if test="zhongduanxinghao != null">#{zhongduanxinghao},</if>
            <if test="zhongduansn != null">#{zhongduansn},</if>
            <if test="zsdls != null">#{zsdls},</if>
            <if test="dls != null">#{dls},</if>
            <if test="dlsdh != null">#{dlsdh},</if>
            <if test="ydbm != null">#{ydbm},</if>
            <if test="shbm != null">#{shbm},</if>
            <if test="shmc != null">#{shmc},</if>
            <if test="ljjy != null">#{ljjy},</if>
            <if test="zdzt != null">#{zdzt},</if>
            <if test="jsmb != null">#{jsmb},</if>
            <if test="jjmb != null">#{jjmb},</if>
            <if test="yfwfhd != null">#{yfwfhd},</if>
            <if test="cysimhd != null">#{cysimhd},</if>
            <if test="jqlx != null">#{jqlx},</if>
            <if test="sjfl != null">#{sjfl},</if>
            <if test="simfwf != null">#{simfwf},</if>
            <if test="simkf != null">#{simkf},</if>
            <if test="simfxcs != null">#{simfxcs},</if>
            <if test="fwfdjhf != null">#{fwfdjhf},</if>
            <if test="djfx != null">#{djfx},</if>
            <if test="fwfkkzt != null">#{fwfkkzt},</if>
            <if test="yjhfx != null">#{yjhfx},</if>
            <if test="ydbfx != null">#{ydbfx},</if>
            <if test="simfx != null">#{simfx},</if>
            <if test="sbjysj != null">#{sbjysj},</if>
            <if test="bdsj != null">#{bdsj},</if>
            <if test="xcllfkfsj != null">#{xcllfkfsj},</if>
            <if test="jmfpsj != null">#{jmfpsj},</if>
            <if test="zhjysj != null">#{zhjysj},</if>
            <if test="cjsj != null">#{cjsj},</if>
            <if test="bak != null">#{bak},</if>
            <if test="status != null">#{status},</if>
            <if test="status1 != null">#{status1},</if>
            <if test="bak1 != null">#{bak1},</if>
            <if test="bak2 != null">#{bak2},</if>
            <if test="bak3 != null">#{bak3},</if>
            <if test="bak4 != null">#{bak4},</if>
            <if test="fwfdjfx != null">#{fwfdjfx},</if>
            <if test="djfwf != null">#{djfwf},</if>
            <if test="rxxjxgfwf != null">#{rxxjxgfwf},</if>
            <if test="simkft != null">#{simkft},</if>
            <if test="simkfjg != null">#{simkfjg},</if>
            <if test="simyfxcs != null">#{simyfxcs},</if>
         </trim>
    </insert>

    <update id="updateHdzdbj" parameterType="Hdzdbj">
        update hdzdbj
        <trim prefix="SET" suffixOverrides=",">
            <if test="pinpai != null">pinpai = #{pinpai},</if>
            <if test="zhongduanxinghao != null">zhongduanxinghao = #{zhongduanxinghao},</if>
            <if test="zhongduansn != null">zhongduansn = #{zhongduansn},</if>
            <if test="zsdls != null">zsdls = #{zsdls},</if>
            <if test="dls != null">dls = #{dls},</if>
            <if test="dlsdh != null">dlsdh = #{dlsdh},</if>
            <if test="ydbm != null">ydbm = #{ydbm},</if>
            <if test="shbm != null">shbm = #{shbm},</if>
            <if test="shmc != null">shmc = #{shmc},</if>
            <if test="ljjy != null">ljjy = #{ljjy},</if>
            <if test="zdzt != null">zdzt = #{zdzt},</if>
            <if test="jsmb != null">jsmb = #{jsmb},</if>
            <if test="jjmb != null">jjmb = #{jjmb},</if>
            <if test="yfwfhd != null">yfwfhd = #{yfwfhd},</if>
            <if test="cysimhd != null">cysimhd = #{cysimhd},</if>
            <if test="jqlx != null">jqlx = #{jqlx},</if>
            <if test="sjfl != null">sjfl = #{sjfl},</if>
            <if test="simfwf != null">simfwf = #{simfwf},</if>
            <if test="simkf != null">simkf = #{simkf},</if>
            <if test="simfxcs != null">simfxcs = #{simfxcs},</if>
            <if test="fwfdjhf != null">fwfdjhf = #{fwfdjhf},</if>
            <if test="djfx != null">djfx = #{djfx},</if>
            <if test="fwfkkzt != null">fwfkkzt = #{fwfkkzt},</if>
            <if test="yjhfx != null">yjhfx = #{yjhfx},</if>
            <if test="ydbfx != null">ydbfx = #{ydbfx},</if>
            <if test="simfx != null">simfx = #{simfx},</if>
            <if test="sbjysj != null">sbjysj = #{sbjysj},</if>
            <if test="bdsj != null">bdsj = #{bdsj},</if>
            <if test="xcllfkfsj != null">xcllfkfsj = #{xcllfkfsj},</if>
            <if test="jmfpsj != null">jmfpsj = #{jmfpsj},</if>
            <if test="zhjysj != null">zhjysj = #{zhjysj},</if>
            <if test="cjsj != null">cjsj = #{cjsj},</if>
            <if test="bak != null">bak = #{bak},</if>
            <if test="status != null">status = #{status},</if>
            <if test="status1 != null">status1 = #{status1},</if>
            <if test="bak1 != null">bak1 = #{bak1},</if>
            <if test="bak2 != null">bak2 = #{bak2},</if>
            <if test="bak3 != null">bak3 = #{bak3},</if>
            <if test="bak4 != null">bak4 = #{bak4},</if>
            <if test="fwfdjfx != null">fwfdjfx = #{fwfdjfx},</if>
            <if test="djfwf != null">djfwf = #{djfwf},</if>
            <if test="rxxjxgfwf != null">rxxjxgfwf = #{rxxjxgfwf},</if>
            <if test="simkft != null">simkft = #{simkft},</if>
            <if test="simkfjg != null">simkfjg = #{simkfjg},</if>
            <if test="simyfxcs != null">simyfxcs = #{simyfxcs},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHdzdbjById" parameterType="Long">
        delete from hdzdbj where id = #{id}
    </delete>

    <delete id="deleteHdzdbjByIds" parameterType="String">
        delete from hdzdbj where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>