<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JytzfcMapper">
    
    <resultMap type="Jytzfc" id="JytzfcResult">
        <result property="id"    column="id"    />
        <result property="configAgentId"    column="configAgentId"    />
        <result property="sendBatchNo"    column="sendBatchNo"    />
        <result property="transDate"    column="transDate"    />
        <result property="revTime"    column="revTime"    />
        <result property="responseCode"    column="responseCode"    />
        <result property="responseDesc"    column="responseDesc"    />
        <result property="sign"    column="sign"    />
    </resultMap>

    <sql id="selectJytzfcVo">
        select id, configAgentId, sendBatchNo, transDate, revTime, responseCode, responseDesc, sign from jytzfc
    </sql>

    <select id="selectJytzfcList" parameterType="Jytzfc" resultMap="JytzfcResult">
        <include refid="selectJytzfcVo"/>
        <where>  
            <if test="configAgentId != null  and configAgentId != ''"> and configAgentId = #{configAgentId}</if>
            <if test="sendBatchNo != null  and sendBatchNo != ''"> and sendBatchNo = #{sendBatchNo}</if>
            <if test="transDate != null  and transDate != ''"> and transDate = #{transDate}</if>
            <if test="revTime != null  and revTime != ''"> and revTime = #{revTime}</if>
            <if test="responseCode != null  and responseCode != ''"> and responseCode = #{responseCode}</if>
            <if test="responseDesc != null  and responseDesc != ''"> and responseDesc = #{responseDesc}</if>
            <if test="sign != null  and sign != ''"> and sign = #{sign}</if>
        </where>
    </select>
    
    <select id="selectJytzfcById" parameterType="Long" resultMap="JytzfcResult">
        <include refid="selectJytzfcVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJytzfc" parameterType="Jytzfc" useGeneratedKeys="true" keyProperty="id">
        insert into jytzfc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configAgentId != null">configAgentId,</if>
            <if test="sendBatchNo != null">sendBatchNo,</if>
            <if test="transDate != null">transDate,</if>
            <if test="revTime != null">revTime,</if>
            <if test="responseCode != null">responseCode,</if>
            <if test="responseDesc != null">responseDesc,</if>
            <if test="sign != null">sign,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configAgentId != null">#{configAgentId},</if>
            <if test="sendBatchNo != null">#{sendBatchNo},</if>
            <if test="transDate != null">#{transDate},</if>
            <if test="revTime != null">#{revTime},</if>
            <if test="responseCode != null">#{responseCode},</if>
            <if test="responseDesc != null">#{responseDesc},</if>
            <if test="sign != null">#{sign},</if>
         </trim>
    </insert>

    <update id="updateJytzfc" parameterType="Jytzfc">
        update jytzfc
        <trim prefix="SET" suffixOverrides=",">
            <if test="configAgentId != null">configAgentId = #{configAgentId},</if>
            <if test="sendBatchNo != null">sendBatchNo = #{sendBatchNo},</if>
            <if test="transDate != null">transDate = #{transDate},</if>
            <if test="revTime != null">revTime = #{revTime},</if>
            <if test="responseCode != null">responseCode = #{responseCode},</if>
            <if test="responseDesc != null">responseDesc = #{responseDesc},</if>
            <if test="sign != null">sign = #{sign},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJytzfcById" parameterType="Long">
        delete from jytzfc where id = #{id}
    </delete>

    <delete id="deleteJytzfcByIds" parameterType="String">
        delete from jytzfc where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>