<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TerminalChargeMapper">
    
    <resultMap type="TerminalCharge" id="TerminalChargeResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="brandId"    column="brand_id"    />
        <result property="merchantNum"    column="merchant_num"    />
        <result property="merchantName"    column="merchant_name"    />
        <result property="state"    column="state"    />
        <result property="receiptNum"    column="receipt_num"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="freezeItems"    column="freeze_items"    />
        <result property="money"    column="money"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="id1"    column="id_1"    />
        <result property="ceshi"    column="ceshi"    />
        <result property="ceshi1"    column="ceshi1"    />
        <result property="ceshi2"    column="ceshi2"    />
        <result property="ceshi3"    column="ceshi3"    />
        <result property="ceshi4"    column="ceshi4"    />
        <result property="ceshi5"    column="ceshi5"    />
        <result property="ceshi6"    column="ceshi6"    />
        <result property="ceshi7"    column="ceshi7"    />
    </resultMap>

    <sql id="selectTerminalChargeVo">
        select id, sn, brand_id, merchant_num, merchant_name, state, receipt_num, serial_num, freeze_items, money, create_time, update_time, id_1, ceshi, ceshi1, ceshi2, ceshi3, ceshi4, ceshi5, ceshi6, ceshi7 from terminal_charge
    </sql>

    <select id="selectTerminalChargeList" parameterType="TerminalCharge" resultMap="TerminalChargeResult">
        <include refid="selectTerminalChargeVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="sn != null "> and sn = #{sn}</if>
            <if test="brandId != null  and brandId != ''"> and brand_id like concat('%', #{brandId}, '%')</if>
            <if test="merchantNum != null "> and merchant_num like concat('%', #{merchantNum}, '%')</if>
            <if test="merchantName != null  and merchantName != ''"> and merchant_name like concat('%', #{merchantName}, '%')</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="receiptNum != null "> and receipt_num = #{receiptNum}</if>
            <if test="serialNum != null "> and serial_num = #{serialNum}</if>
            <if test="freezeItems != null  and freezeItems != ''"> and freeze_items = #{freezeItems}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectTerminalChargeById" parameterType="Long" resultMap="TerminalChargeResult">
        <include refid="selectTerminalChargeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTerminalCharge" parameterType="TerminalCharge">
        insert into terminal_charge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sn != null">sn,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="merchantNum != null">merchant_num,</if>
            <if test="merchantName != null">merchant_name,</if>
            <if test="state != null">state,</if>
            <if test="receiptNum != null">receipt_num,</if>
            <if test="serialNum != null">serial_num,</if>
            <if test="freezeItems != null">freeze_items,</if>
            <if test="money != null">money,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="id1 != null">id_1,</if>
            <if test="ceshi != null">ceshi,</if>
            <if test="ceshi1 != null">ceshi1,</if>
            <if test="ceshi2 != null">ceshi2,</if>
            <if test="ceshi3 != null">ceshi3,</if>
            <if test="ceshi4 != null">ceshi4,</if>
            <if test="ceshi5 != null">ceshi5,</if>
            <if test="ceshi6 != null">ceshi6,</if>
            <if test="ceshi7 != null">ceshi7,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sn != null">#{sn},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="merchantNum != null">#{merchantNum},</if>
            <if test="merchantName != null">#{merchantName},</if>
            <if test="state != null">#{state},</if>
            <if test="receiptNum != null">#{receiptNum},</if>
            <if test="serialNum != null">#{serialNum},</if>
            <if test="freezeItems != null">#{freezeItems},</if>
            <if test="money != null">#{money},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="id1 != null">#{id1},</if>
            <if test="ceshi != null">#{ceshi},</if>
            <if test="ceshi1 != null">#{ceshi1},</if>
            <if test="ceshi2 != null">#{ceshi2},</if>
            <if test="ceshi3 != null">#{ceshi3},</if>
            <if test="ceshi4 != null">#{ceshi4},</if>
            <if test="ceshi5 != null">#{ceshi5},</if>
            <if test="ceshi6 != null">#{ceshi6},</if>
            <if test="ceshi7 != null">#{ceshi7},</if>
         </trim>
    </insert>

    <update id="updateTerminalCharge" parameterType="TerminalCharge">
        update terminal_charge
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null">sn = #{sn},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="merchantNum != null">merchant_num = #{merchantNum},</if>
            <if test="merchantName != null">merchant_name = #{merchantName},</if>
            <if test="state != null">state = #{state},</if>
            <if test="receiptNum != null">receipt_num = #{receiptNum},</if>
            <if test="serialNum != null">serial_num = #{serialNum},</if>
            <if test="freezeItems != null">freeze_items = #{freezeItems},</if>
            <if test="money != null">money = #{money},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="id1 != null">id_1 = #{id1},</if>
            <if test="ceshi != null">ceshi = #{ceshi},</if>
            <if test="ceshi1 != null">ceshi1 = #{ceshi1},</if>
            <if test="ceshi2 != null">ceshi2 = #{ceshi2},</if>
            <if test="ceshi3 != null">ceshi3 = #{ceshi3},</if>
            <if test="ceshi4 != null">ceshi4 = #{ceshi4},</if>
            <if test="ceshi5 != null">ceshi5 = #{ceshi5},</if>
            <if test="ceshi6 != null">ceshi6 = #{ceshi6},</if>
            <if test="ceshi7 != null">ceshi7 = #{ceshi7},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTerminalChargeById" parameterType="Long">
        delete from terminal_charge where id = #{id}
    </delete>

    <delete id="deleteTerminalChargeByIds" parameterType="String">
        delete from terminal_charge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>